html, body{
  background: gray;
  padding: 0 25px;
}

h1 {
  font-size: 54px;
  color: #333;
}

.playlist-box {
  width: 25%;
  margin: 25px 0;
  padding: 0 15px;
  display: inline-block;
  vertical-align: top;
}

.songlist{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
